body{
  background-image: url(Golf_background.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
}
h1{
  text-align: center;
}
p.userInfo{
  text-align: right;
}
p.items{
  text-align: center;
}
h3{
  text-align: center;
}
shipping{
  text-align: center;
}
